@import "vars";
@import "mixin";

body {
  font-family: "WildernessTypeface-Regular", "Old Standard TT", "Noto Sans KR", "Literata", serif;
  background-color: #111;
  color: #fff;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: -80px;
  padding: 0 50px;
  transition: all 0.4s ease;
  z-index: 999;
  &.on {
    top: 0;
  }
}

#logo {
  width: 100px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

#gnb {
  .list {
    display: flex;
    > li {
      margin-left: 40px;
      color: #999;
      position: relative;
      transition: all 0.25s ease-in-out;
      &.click {
        color: #fff;
        font-weight: 500;
      }
      &:hover {
        color: #fff;
        font-weight: 500;
        a::before,
        a::after {
          opacity: 1;
        }
      }
      a {
        display: inline-block;
        position: relative;
        padding: 0 10px;
        &::before {
          content: " (";
          @include absCenter(false, true);
          left: 0;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
        }
        &::after {
          content: " )";
          @include absCenter(false, true);
          right: 0;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }
  }
}

#ball {
  @include pseudo;
  background: {
    image: url("../images/main/Star\ 1.png");
    position: 50%;
    size: cover;
  }
  width: 10px;
  height: 10px;
  top: 20%;
  left: 75%;
  transform: translateX(-50%);
  opacity: 0;
}
