@import "vars";
@import "mixin";
@import "font";

.txtBox {
  @include absCenter(false, true);
  letter-spacing: -1px;
  .title {
    strong {
      font-weight: 800;
      font-size: $font-medium + 8;
    }
  }
}

.inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.section {
  border: 1px solid #fff;
  height: 100vh;
  position: relative;
}

#opening {
  text-align: center;
  height: 100vh;
  .rect {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    perspective: 800px;
    span {
      display: block;
      width: 50px;
      height: 50px;
      margin: 5px;
      border: 1px solid #999;
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
      position: relative;
      &.hover:hover {
        transform: scale(1.1);
        border: 1px solid #fff;
      }
    }
  }
  .txtBox {
    @include absCenter(true, true);
    font-size: $font-medium - 4;
    span {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(2555, 255, 255, 0.5) 100%);
      background-clip: text; // 요소의 배경을 텍스트 부분에만 적용
      -webkit-background-clip: text;
      color: transparent; // 텍스트가 그대로 있으면 뒤에 배경이 보이지 않기 때문에, 투명 처리
    }
    p {
      display: block;
      width: 100%;
      @include absCenter(true, true);
    }
    h2 {
      font-size: $font-medium + 8;
      font-weight: 800;
      margin-bottom: 10px;
    }
  }
}

#mainVisual {
  .txtBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    .title {
      font-size: $font-medium;
      font-weight: 500;
      margin-bottom: 20px;
      strong {
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 80%, rgba(2555, 255, 255, 0.3) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .desc {
      line-height: 1.5;
      color: #999;
      strong {
        color: #fff;
        font-weight: 800;
        font-size: 18px;
      }
    }
  }
  .contents {
    position: relative;
    height: 100%;
    .imgBox {
      @include absCenter(false, true);
      right: -300px;
      display: flex;
      justify-content: space-between;
      img {
        margin: -50px;
        object-fit: contain;
      }
    }
  }
}

#aboutMe {
  .inner {
    .txtBox {
      top: 20%;
      .title {
        position: relative;
        &::before {
          @include pseudo;
          @include box(150px, 100px, transparent);
          @include absCenter(true, true);
          background: {
            image: url("../images/main/aboutTitleBg.png");
            size: contain;
            repeat: no-repeat;
            position: 50% 50%;
          }
        }
      }
    }
    .contents {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .contentTitle {
        display: flex;
        font-size: $font-medium;
        text-align: center;
        line-height: 1.5;
        > li {
          display: flex;
          align-items: center;
          .contentsTxt {
            margin-right: 100px;
            p {
              display: block;
              margin-top: 20px;
              font-size: 16px;
              color: #999;
            }
          }
        }
        // pre {
        //   line-height: 1.5;
        // }
      }
    }
  }
}

#portfolio {
  overflow: hidden;
  .swiper-slide {
    text-align: center;
    &:hover {
      .imgBox {
        bottom: 20px;
      }
    }
    .txtBox {
      left: 50%;
      transform: translate(-50%, -50%);
      .listNum {
        font-size: $font-large;
      }
      .title strong {
        font-size: $font-extra-large;
        display: block;
        margin: 10px 0 20px;
      }
    }
    .imgBox {
      position: absolute;
      bottom: -200px;
      left: 50%;
      transition: bottom 0.3s ease-in-out;
      transform: translateX(-50%);
    }
  }
}

#mousePointer {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  &::before {
    content: "CLICK!";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
