@import "vars";
@import "mixin";
@font-face {
  font-family: "WildernessTypeface-Regular";
  src: url("../font/WildernessTypeface-Regular.ttf") format("ttf");
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.txtBox,
.titleBox {
  @include absCenter(false, true);
  letter-spacing: -1px;
  .title {
    strong {
      font-weight: 800;
      font-size: $font-medium + 8;
    }
  }
}

.inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.section {
  height: 100vh;
  position: relative;
}

.imgBox {
  img {
    object-fit: contain;
  }
}

#opening {
  text-align: center;
  .rect {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    perspective: 800px;
    span {
      display: block;
      width: 50px;
      height: 50px;
      margin: 5px;
      border: 1px solid #999;
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
      position: relative;
      &.hover:hover {
        transform: scale(1.1);
        border: 1px solid #fff;
      }
    }
  }
  .scrollAni {
    @include absCenter(true, true);
    display: flex;
    top: 90%;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    .mouse {
      display: block;
      width: 22px;
      height: 40px;
      border-radius: 20px;
      border: 2px solid #fff;
      margin-bottom: 10px;
      position: relative;
      &::before {
        @include pseudo;
        @include box(4px, 8px, #fff);
        border-radius: 2px;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
        animation: scrollAni 2s ease infinite forwards;
      }
    }
    .arrowDown {
      display: flex;
      flex-direction: column;
      span {
        line-height: 0.5;
        font-size: 24px;
        animation: arrowDownAni 2s linear infinite forwards;
        &:nth-child(2) {
          animation-delay: 0.75s;
        }
        &:nth-child(3) {
          animation-delay: 1.5s;
        }
      }
    }
  }
  .txtBox {
    @include absCenter(true, true);
    font-size: $font-medium - 4;
    opacity: 0;
    pointer-events: none;
    &::before,
    &::after {
      position: absolute;
      display: block;
      top: 50%;
      font-size: $font-extra-large;
      font-weight: 900;
      transform: translateY(-50%);
    }
    &::before {
      opacity: 0;
      content: "(";
      left: -10%;
    }
    &::after {
      opacity: 0;
      content: ")";
      right: 60%;
    }
    span {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(2555, 255, 255, 0.5) 100%);
      background-clip: text; // 요소의 배경을 텍스트 부분에만 적용
      -webkit-background-clip: text;
      color: transparent; // 텍스트가 그대로 있으면 뒤에 배경이 보이지 않기 때문에, 투명 처리
    }
    p {
      display: block;
      width: 100%;
      @include absCenter(true, true);
    }
    h2 {
      font-size: $font-medium + 8;
      font-weight: 800;
      margin-bottom: 10px;
      position: relative;
      display: block;
    }
  }
}

#mainVisual {
  .titleBox {
    top: 20%;
    .title {
      position: relative;
      display: inline-block;
      &::before {
        @include pseudo;
        @include box(150px, 100px, transparent);
        @include absCenter(true, true);
        background: {
          image: url("../images/main/aboutTitleBg.png");
          size: contain;
          repeat: no-repeat;
          position: 50% 50%;
        }
      }
    }
  }
  .txtBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    strong {
      position: relative;
      &::before {
        @include pseudo;
        @include box(100%, 100%, #fff);
        top: 0;
        left: 0;
      }
    }
    .title {
      font-size: $font-medium;
      font-weight: 500;
      margin-bottom: 20px;
      strong {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 80%, rgba(2555, 255, 255, 0.5) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    .desc {
      line-height: 1.5;
      color: #999;
      strong {
        color: #fff;
        font-weight: 800;
        font-size: 18px;
      }
    }
  }
  .contents {
    position: relative;
    height: 100%;
    .imgBox {
      @include absCenter(false, true);
      right: -300px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        margin: -50px;
      }
      .text {
        height: 150px;
        border-right: 5px solid #fff;
        font-size: $font-extra-large;
        font-family: "WildernessTypeface-Regular";
        animation: cursorAni 1s ease-in-out infinite forwards;
        @include absCenter(true, true);
      }
    }
  }
}

#aboutMe {
  border: 1px solid #fff;
  .inner {
    .titleBox {
      top: 20%;
    }
    .contents {
      position: relative;
      .swiper-wrapper {
        width: 100%;
        overflow: hidden;
        .swiper-slide {
          width: 100%;
        }
      }
      .pagination {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 99;
        color: #fff;
      }
    }
  }
}

#portfolio {
  overflow: hidden;
  .swiper-slide {
    text-align: center;
    position: relative;
    &::before {
      @include pseudo;
      @include box(100%, 100%, rgba(0, 0, 0, 0.6));
      top: 0;
      left: 0;
      z-index: 1;
    }
    &::after {
      @include pseudo;
      @include box(100%, 100%, transparent);
      background: {
        image: url("../images/main/644_thumbnail.png");
        size: cover;
        position: 50% 50%;
        repeat: no-repeat;
        z-index: -1;
      }
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }
    &:hover {
      .imgBox {
        bottom: 20px;
      }
      &::after {
        opacity: 1;
      }
    }
    .txtBox {
      z-index: 1;
      left: 50%;
      transform: translate(-50%, -50%);
      .listNum {
        font-size: $font-large;
      }
      .title strong {
        font-size: $font-extra-large;
        display: block;
        margin: 10px 0 20px;
      }
    }
    .imgBox {
      z-index: 1;
      position: absolute;
      bottom: -200px;
      left: 50%;
      transition: bottom 0.3s ease-in-out;
      transform: translateX(-50%);
    }
  }
}

#mousePointer {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  overflow: hidden;
  &::before {
    content: "CLICK!";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes scrollAni {
  0% {
    top: 5%;
    opacity: 0;
  }
  10% {
    top: 10%;
    opacity: 1;
  }
  100% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes arrowDownAni {
  0% {
    opacity: 0;
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
  }
  100% {
    opacity: 0;
    color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes cursorAni {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: #fff;
  }
}
